# B站：神奇的布欧
# 微信：l1243278923

In [1]:
import pandas as pd

# 导入Excel文件

In [17]:
dataPath = "./data.xlsx"

In [18]:
df = pd.read_excel(dataPath, engine="openpyxl")

In [4]:
df

    排名      球员      球队 进球（点球）  出场次数  出场时间  射门  射正
0    1     瓦尔迪     莱斯特  17(3)    20  1800  49  29
1    2      英斯    南安普敦     14    22  1537  57  26
2    3    奥巴梅扬     阿森纳  14(1)    22  1945  55  22
3    4    拉什福德      曼联  14(5)    22  1881  74  34
4    5    亚伯拉罕     切尔西     13    21  1673  66  29
5    6     阿圭罗      曼城  13(2)    16   998  51  18
6    7      马内     利物浦     11    20  1667  49  25
7    8     斯特林      曼城     11    20  1672  59  21
8    9      凯恩  托特纳姆热刺  11(2)    20  1780  57  24
9   10     萨拉赫     利物浦  10(2)    18  1531  66  31
10  11      普基     诺维奇      9    21  1869  54  27
11  12     热苏斯      曼城      9    18  1090  57  28
12  13      勒温     埃弗顿      8    20  1313  40  18
13  14      伍德     伯恩利      8    20  1654  38  19
14  15     马夏尔      曼联      8    16  1278  40  21
15  16    希门尼斯      狼队   8(2)    22  1849  70  25
16  17    德布劳内      曼城      7    21  1715  59  18
17  18    菲尔米诺     利物浦      7    21  1719  65  27
18  19    马赫雷斯      曼城      7    18  1084  44  22
19  20      毛佩     布莱顿   7(1)    22  1631  59  22
20  21      阿尤     水晶宫      6    21  1761  34  13
21  22      哈勒    西汉姆联      6    20  1583  42  18
22  23    格里利什   阿斯顿维拉      6    20  1794  42  15
23  24     威尔逊    伯恩茅斯      6    18  1087  34  13
24  25      阿里  托特纳姆热刺      6    15  1254  24  14
25  26     巴恩斯     伯恩利   6(1)    19  1361  40  12
26  27     威尔逊    伯恩茅斯      5    21  1719  27  11
27  28     佩雷斯     莱斯特      5    19  1194  26  14
28  29     席尔瓦      曼城      5    18  1180  30  11
29  30     孙兴慜  托特纳姆热刺      5    17  1389  46  18
30  31    普利西奇     切尔西      5    16  1076  40  17
31  32    拉卡泽特     阿森纳      5    15  1028  36  16
32  33     谢尔维    纽卡斯尔      5    14  1077  24   8
33  34     特劳雷      狼队      4    21  1672  25   7
34  35    麦克布涅   谢菲尔德联      4    20   895  23  10
35  36    小卢卡斯  托特纳姆热刺      4    20  1104  33   9
36  37     弗利克   谢菲尔德联      4    19  1649  23  10
37  38   德乌洛费乌    沃特福德   4(1)    22  1631  49  20
38  39  沃德-普劳斯    南安普敦   4(1)    22  1980  35  16
39  40      威廉     切尔西   4(1)    21  1542  43  13
40  41      加齐   阿斯顿维拉   4(1)    19  1320  39  14
41  42      迪尼    沃特福德   4(2)    11   906  19   9
42  43      扎哈     水晶宫      3    22  1915  33   9
43  44   罗德里格斯     伯恩利      3    21   771  24   7
44  45    蒂耶勒曼     莱斯特      3    21  1772  34   8
45  46     杜库雷    沃特福德      3    21  1831  37   8
46  47  伦德斯特拉姆   谢菲尔德联      3    21  1839  31   7
47  48     范迪克     利物浦      3    21  1890  14   6
48  49     多尔蒂      狼队      3    20  1520  21  12
49  50      哈桑   阿斯顿维拉      3    19  1089  33   9

# 导入csv文件

In [7]:
# gb2312 gb18030  utf-8
dataPath = "./testcsv.csv"
df = pd.read_csv(dataPath, encoding="gbk")

In [8]:
df

   1  2  3
0  4  5  6
1  7  8  9

# 导入txt文件

In [14]:
dataPath = "./test.txt"
df = pd.read_csv(dataPath, sep="\t", encoding="utf-8")

In [15]:
df

                   head
0  阿首都分公司地方更好的说法合计手打回复i
1     阿斯顿发货稍等一会风疙瘩hi啊搜嘎

# 输出前五条数据

In [19]:
df.head()

   排名    球员    球队 进球（点球）  出场次数  出场时间  射门  射正
0   1   瓦尔迪   莱斯特  17(3)    20  1800  49  29
1   2    英斯  南安普敦     14    22  1537  57  26
2   3  奥巴梅扬   阿森纳  14(1)    22  1945  55  22
3   4  拉什福德    曼联  14(5)    22  1881  74  34
4   5  亚伯拉罕   切尔西     13    21  1673  66  29

# 按照索引拿数据

In [20]:
df.iloc[5]

排名            6
球员          阿圭罗
球队           曼城
进球（点球）    13(2)
出场次数         16
出场时间        998
射门           51
射正           18
Name: 5, dtype: object

# 读取多行数据

In [21]:
df.iloc[[0, 5]]

   排名   球员   球队 进球（点球）  出场次数  出场时间  射门  射正
0   1  瓦尔迪  莱斯特  17(3)    20  1800  49  29
5   6  阿圭罗   曼城  13(2)    16   998  51  18

# 读取连续几行的数据

In [24]:
df.iloc[0: 10]

   排名    球员      球队 进球（点球）  出场次数  出场时间  射门  射正
0   1   瓦尔迪     莱斯特  17(3)    20  1800  49  29
1   2    英斯    南安普敦     14    22  1537  57  26
2   3  奥巴梅扬     阿森纳  14(1)    22  1945  55  22
3   4  拉什福德      曼联  14(5)    22  1881  74  34
4   5  亚伯拉罕     切尔西     13    21  1673  66  29
5   6   阿圭罗      曼城  13(2)    16   998  51  18
6   7    马内     利物浦     11    20  1667  49  25
7   8   斯特林      曼城     11    20  1672  59  21
8   9    凯恩  托特纳姆热刺  11(2)    20  1780  57  24
9  10   萨拉赫     利物浦  10(2)    18  1531  66  31

# 抽取指定列的数据

In [25]:
df[["球队"]]

        球队
0      莱斯特
1     南安普敦
2      阿森纳
3       曼联
4      切尔西
5       曼城
6      利物浦
7       曼城
8   托特纳姆热刺
9      利物浦
10     诺维奇
11      曼城
12     埃弗顿
13     伯恩利
14      曼联
15      狼队
16      曼城
17     利物浦
18      曼城
19     布莱顿
20     水晶宫
21    西汉姆联
22   阿斯顿维拉
23    伯恩茅斯
24  托特纳姆热刺
25     伯恩利
26    伯恩茅斯
27     莱斯特
28      曼城
29  托特纳姆热刺
30     切尔西
31     阿森纳
32    纽卡斯尔
33      狼队
34   谢菲尔德联
35  托特纳姆热刺
36   谢菲尔德联
37    沃特福德
38    南安普敦
39     切尔西
40   阿斯顿维拉
41    沃特福德
42     水晶宫
43     伯恩利
44     莱斯特
45    沃特福德
46   谢菲尔德联
47     利物浦
48      狼队
49   阿斯顿维拉

# 按条件抽取数据

In [26]:
df.loc[(df["出场次数"] > 15) & (df["射门"] > 60)]

    排名    球员   球队 进球（点球）  出场次数  出场时间  射门  射正
3    4  拉什福德   曼联  14(5)    22  1881  74  34
4    5  亚伯拉罕  切尔西     13    21  1673  66  29
9   10   萨拉赫  利物浦  10(2)    18  1531  66  31
15  16  希门尼斯   狼队   8(2)    22  1849  70  25
17  18  菲尔米诺  利物浦      7    21  1719  65  27

# 修改数据

In [27]:
df.iloc[0: 7]

   排名    球员    球队 进球（点球）  出场次数  出场时间  射门  射正
0   1   瓦尔迪   莱斯特  17(3)    20  1800  49  29
1   2    英斯  南安普敦     14    22  1537  57  26
2   3  奥巴梅扬   阿森纳  14(1)    22  1945  55  22
3   4  拉什福德    曼联  14(5)    22  1881  74  34
4   5  亚伯拉罕   切尔西     13    21  1673  66  29
5   6   阿圭罗    曼城  13(2)    16   998  51  18
6   7    马内   利物浦     11    20  1667  49  25

In [28]:
df.iloc[0, 7] = 15

In [29]:
df.iloc[0: 7]

   排名    球员    球队 进球（点球）  出场次数  出场时间  射门  射正
0   1   瓦尔迪   莱斯特  17(3)    20  1800  49  15
1   2    英斯  南安普敦     14    22  1537  57  26
2   3  奥巴梅扬   阿森纳  14(1)    22  1945  55  22
3   4  拉什福德    曼联  14(5)    22  1881  74  34
4   5  亚伯拉罕   切尔西     13    21  1673  66  29
5   6   阿圭罗    曼城  13(2)    16   998  51  18
6   7    马内   利物浦     11    20  1667  49  25

In [30]:
df.iloc[0, 7] = 29

In [31]:
df.iloc[0: 7]

   排名    球员    球队 进球（点球）  出场次数  出场时间  射门  射正
0   1   瓦尔迪   莱斯特  17(3)    20  1800  49  29
1   2    英斯  南安普敦     14    22  1537  57  26
2   3  奥巴梅扬   阿森纳  14(1)    22  1945  55  22
3   4  拉什福德    曼联  14(5)    22  1881  74  34
4   5  亚伯拉罕   切尔西     13    21  1673  66  29
5   6   阿圭罗    曼城  13(2)    16   998  51  18
6   7    马内   利物浦     11    20  1667  49  25

# 查看缺失值

In [32]:
df.isnull()

       排名     球员     球队  进球（点球）   出场次数   出场时间     射门     射正
0   False  False  False   False  False  False  False  False
1   False  False  False   False  False  False  False  False
2   False  False  False   False  False  False  False  False
3   False  False  False   False  False  False  False  False
4   False  False  False   False  False  False  False  False
5   False  False  False   False  False  False  False  False
6   False  False  False   False  False  False  False  False
7   False  False  False   False  False  False  False  False
8   False  False  False   False  False  False  False  False
9   False  False  False   False  False  False  False  False
10  False  False  False   False  False  False  False  False
11  False  False  False   False  False  False  False  False
12  False  False  False   False  False  False  False  False
13  False  False  False   False  False  False  False  False
14  False  False  False   False  False  False  False  False
15  False  False  False   False  False  False  False  False
16  False  False  False   False  False  False  False  False
17  False  False  False   False  False  False  False  False
18  False  False  False   False  False  False  False  False
19  False  False  False   False  False  False  False  False
20  False  False  False   False  False  False  False  False
21  False  False  False   False  False  False  False  False
22  False  False  False   False  False  False  False  False
23  False  False  False   False  False  False  False  False
24  False  False  False   False  False  False  False  False
25  False  False  False   False  False  False  False  False
26  False  False  False   False  False  False  False  False
27  False  False  False   False  False  False  False  False
28  False  False  False   False  False  False  False  False
29  False  False  False   False  False  False  False  False
30  False  False  False   False  False  False  False  False
31  False  False  False   False  False  False  False  False
32  False  False  False   False  False  False  False  False
33  False  False  False   False  False  False  False  False
34  False  False  False   False  False  False  False  False
35  False  False  False   False  False  False  False  False
36  False  False  False   False  False  False  False  False
37  False  False  False   False  False  False  False  False
38  False  False  False   False  False  False  False  False
39  False  False  False   False  False  False  False  False
40  False  False  False   False  False  False  False  False
41  False  False  False   False  False  False  False  False
42  False  False  False   False  False  False  False  False
43  False  False  False   False  False  False  False  False
44  False  False  False   False  False  False  False  False
45  False  False  False   False  False  False  False  False
46  False  False  False   False  False  False  False  False
47  False  False  False   False  False  False  False  False
48  False  False  False   False  False  False  False  False
49  False  False  False   False  False  False  False  False

In [33]:
df.iloc[0, 7] = None

In [34]:
df.isnull()

       排名     球员     球队  进球（点球）   出场次数   出场时间     射门     射正
0   False  False  False   False  False  False  False   True
1   False  False  False   False  False  False  False  False
2   False  False  False   False  False  False  False  False
3   False  False  False   False  False  False  False  False
4   False  False  False   False  False  False  False  False
5   False  False  False   False  False  False  False  False
6   False  False  False   False  False  False  False  False
7   False  False  False   False  False  False  False  False
8   False  False  False   False  False  False  False  False
9   False  False  False   False  False  False  False  False
10  False  False  False   False  False  False  False  False
11  False  False  False   False  False  False  False  False
12  False  False  False   False  False  False  False  False
13  False  False  False   False  False  False  False  False
14  False  False  False   False  False  False  False  False
15  False  False  False   False  False  False  False  False
16  False  False  False   False  False  False  False  False
17  False  False  False   False  False  False  False  False
18  False  False  False   False  False  False  False  False
19  False  False  False   False  False  False  False  False
20  False  False  False   False  False  False  False  False
21  False  False  False   False  False  False  False  False
22  False  False  False   False  False  False  False  False
23  False  False  False   False  False  False  False  False
24  False  False  False   False  False  False  False  False
25  False  False  False   False  False  False  False  False
26  False  False  False   False  False  False  False  False
27  False  False  False   False  False  False  False  False
28  False  False  False   False  False  False  False  False
29  False  False  False   False  False  False  False  False
30  False  False  False   False  False  False  False  False
31  False  False  False   False  False  False  False  False
32  False  False  False   False  False  False  False  False
33  False  False  False   False  False  False  False  False
34  False  False  False   False  False  False  False  False
35  False  False  False   False  False  False  False  False
36  False  False  False   False  False  False  False  False
37  False  False  False   False  False  False  False  False
38  False  False  False   False  False  False  False  False
39  False  False  False   False  False  False  False  False
40  False  False  False   False  False  False  False  False
41  False  False  False   False  False  False  False  False
42  False  False  False   False  False  False  False  False
43  False  False  False   False  False  False  False  False
44  False  False  False   False  False  False  False  False
45  False  False  False   False  False  False  False  False
46  False  False  False   False  False  False  False  False
47  False  False  False   False  False  False  False  False
48  False  False  False   False  False  False  False  False
49  False  False  False   False  False  False  False  False

# 缺失值填充

In [35]:
df["射正"] = df["射正"].fillna(29)

In [36]:
df.iloc[0:7]

   排名    球员    球队 进球（点球）  出场次数  出场时间  射门    射正
0   1   瓦尔迪   莱斯特  17(3)    20  1800  49  29.0
1   2    英斯  南安普敦     14    22  1537  57  26.0
2   3  奥巴梅扬   阿森纳  14(1)    22  1945  55  22.0
3   4  拉什福德    曼联  14(5)    22  1881  74  34.0
4   5  亚伯拉罕   切尔西     13    21  1673  66  29.0
5   6   阿圭罗    曼城  13(2)    16   998  51  18.0
6   7    马内   利物浦     11    20  1667  49  25.0

# 降序排序

In [37]:
df.sort_values(by="出场次数", ascending=False)

    排名      球员      球队 进球（点球）  出场次数  出场时间  射门    射正
15  16    希门尼斯      狼队   8(2)    22  1849  70  25.0
2    3    奥巴梅扬     阿森纳  14(1)    22  1945  55  22.0
3    4    拉什福德      曼联  14(5)    22  1881  74  34.0
37  38   德乌洛费乌    沃特福德   4(1)    22  1631  49  20.0
38  39  沃德-普劳斯    南安普敦   4(1)    22  1980  35  16.0
1    2      英斯    南安普敦     14    22  1537  57  26.0
42  43      扎哈     水晶宫      3    22  1915  33   9.0
19  20      毛佩     布莱顿   7(1)    22  1631  59  22.0
17  18    菲尔米诺     利物浦      7    21  1719  65  27.0
39  40      威廉     切尔西   4(1)    21  1542  43  13.0
26  27     威尔逊    伯恩茅斯      5    21  1719  27  11.0
43  44   罗德里格斯     伯恩利      3    21   771  24   7.0
20  21      阿尤     水晶宫      6    21  1761  34  13.0
44  45    蒂耶勒曼     莱斯特      3    21  1772  34   8.0
16  17    德布劳内      曼城      7    21  1715  59  18.0
33  34     特劳雷      狼队      4    21  1672  25   7.0
45  46     杜库雷    沃特福德      3    21  1831  37   8.0
4    5    亚伯拉罕     切尔西     13    21  1673  66  29.0
46  47  伦德斯特拉姆   谢菲尔德联      3    21  1839  31   7.0
10  11      普基     诺维奇      9    21  1869  54  27.0
47  48     范迪克     利物浦      3    21  1890  14   6.0
7    8     斯特林      曼城     11    20  1672  59  21.0
35  36    小卢卡斯  托特纳姆热刺      4    20  1104  33   9.0
48  49     多尔蒂      狼队      3    20  1520  21  12.0
6    7      马内     利物浦     11    20  1667  49  25.0
8    9      凯恩  托特纳姆热刺  11(2)    20  1780  57  24.0
34  35    麦克布涅   谢菲尔德联      4    20   895  23  10.0
22  23    格里利什   阿斯顿维拉      6    20  1794  42  15.0
21  22      哈勒    西汉姆联      6    20  1583  42  18.0
12  13      勒温     埃弗顿      8    20  1313  40  18.0
13  14      伍德     伯恩利      8    20  1654  38  19.0
0    1     瓦尔迪     莱斯特  17(3)    20  1800  49  29.0
40  41      加齐   阿斯顿维拉   4(1)    19  1320  39  14.0
36  37     弗利克   谢菲尔德联      4    19  1649  23  10.0
25  26     巴恩斯     伯恩利   6(1)    19  1361  40  12.0
27  28     佩雷斯     莱斯特      5    19  1194  26  14.0
49  50      哈桑   阿斯顿维拉      3    19  1089  33   9.0
28  29     席尔瓦      曼城      5    18  1180  30  11.0
23  24     威尔逊    伯恩茅斯      6    18  1087  34  13.0
18  19    马赫雷斯      曼城      7    18  1084  44  22.0
11  12     热苏斯      曼城      9    18  1090  57  28.0
9   10     萨拉赫     利物浦  10(2)    18  1531  66  31.0
29  30     孙兴慜  托特纳姆热刺      5    17  1389  46  18.0
30  31    普利西奇     切尔西      5    16  1076  40  17.0
14  15     马夏尔      曼联      8    16  1278  40  21.0
5    6     阿圭罗      曼城  13(2)    16   998  51  18.0
31  32    拉卡泽特     阿森纳      5    15  1028  36  16.0
24  25      阿里  托特纳姆热刺      6    15  1254  24  14.0
32  33     谢尔维    纽卡斯尔      5    14  1077  24   8.0
41  42      迪尼    沃特福德   4(2)    11   906  19   9.0

# 升序排序

In [38]:
df.sort_values(by="出场次数", ascending=True)

    排名      球员      球队 进球（点球）  出场次数  出场时间  射门    射正
41  42      迪尼    沃特福德   4(2)    11   906  19   9.0
32  33     谢尔维    纽卡斯尔      5    14  1077  24   8.0
24  25      阿里  托特纳姆热刺      6    15  1254  24  14.0
31  32    拉卡泽特     阿森纳      5    15  1028  36  16.0
14  15     马夏尔      曼联      8    16  1278  40  21.0
30  31    普利西奇     切尔西      5    16  1076  40  17.0
5    6     阿圭罗      曼城  13(2)    16   998  51  18.0
29  30     孙兴慜  托特纳姆热刺      5    17  1389  46  18.0
23  24     威尔逊    伯恩茅斯      6    18  1087  34  13.0
9   10     萨拉赫     利物浦  10(2)    18  1531  66  31.0
28  29     席尔瓦      曼城      5    18  1180  30  11.0
11  12     热苏斯      曼城      9    18  1090  57  28.0
18  19    马赫雷斯      曼城      7    18  1084  44  22.0
27  28     佩雷斯     莱斯特      5    19  1194  26  14.0
25  26     巴恩斯     伯恩利   6(1)    19  1361  40  12.0
40  41      加齐   阿斯顿维拉   4(1)    19  1320  39  14.0
36  37     弗利克   谢菲尔德联      4    19  1649  23  10.0
49  50      哈桑   阿斯顿维拉      3    19  1089  33   9.0
0    1     瓦尔迪     莱斯特  17(3)    20  1800  49  29.0
6    7      马内     利物浦     11    20  1667  49  25.0
7    8     斯特林      曼城     11    20  1672  59  21.0
8    9      凯恩  托特纳姆热刺  11(2)    20  1780  57  24.0
12  13      勒温     埃弗顿      8    20  1313  40  18.0
35  36    小卢卡斯  托特纳姆热刺      4    20  1104  33   9.0
13  14      伍德     伯恩利      8    20  1654  38  19.0
34  35    麦克布涅   谢菲尔德联      4    20   895  23  10.0
22  23    格里利什   阿斯顿维拉      6    20  1794  42  15.0
21  22      哈勒    西汉姆联      6    20  1583  42  18.0
48  49     多尔蒂      狼队      3    20  1520  21  12.0
45  46     杜库雷    沃特福德      3    21  1831  37   8.0
43  44   罗德里格斯     伯恩利      3    21   771  24   7.0
46  47  伦德斯特拉姆   谢菲尔德联      3    21  1839  31   7.0
47  48     范迪克     利物浦      3    21  1890  14   6.0
39  40      威廉     切尔西   4(1)    21  1542  43  13.0
44  45    蒂耶勒曼     莱斯特      3    21  1772  34   8.0
16  17    德布劳内      曼城      7    21  1715  59  18.0
4    5    亚伯拉罕     切尔西     13    21  1673  66  29.0
10  11      普基     诺维奇      9    21  1869  54  27.0
26  27     威尔逊    伯恩茅斯      5    21  1719  27  11.0
20  21      阿尤     水晶宫      6    21  1761  34  13.0
17  18    菲尔米诺     利物浦      7    21  1719  65  27.0
33  34     特劳雷      狼队      4    21  1672  25   7.0
3    4    拉什福德      曼联  14(5)    22  1881  74  34.0
37  38   德乌洛费乌    沃特福德   4(1)    22  1631  49  20.0
38  39  沃德-普劳斯    南安普敦   4(1)    22  1980  35  16.0
2    3    奥巴梅扬     阿森纳  14(1)    22  1945  55  22.0
1    2      英斯    南安普敦     14    22  1537  57  26.0
42  43      扎哈     水晶宫      3    22  1915  33   9.0
15  16    希门尼斯      狼队   8(2)    22  1849  70  25.0
19  20      毛佩     布莱顿   7(1)    22  1631  59  22.0

# 求和

In [39]:
data = [[110, 105, 99], [105, 88, 115], [109, 120, 130]]
index = [i for i in range(1, 4)]
columns = ["语文", "数学", "英语"]
df = pd.DataFrame(data=data, index=index, columns=columns)

In [40]:
df

    语文   数学   英语
1  110  105   99
2  105   88  115
3  109  120  130

In [43]:
df["总成绩"] = df.sum(axis=1)

In [44]:
df

    语文   数学   英语  总成绩
1  110  105   99  314
2  105   88  115  308
3  109  120  130  359

# 增加最大值行

In [45]:
data = [[110, 105, 99], [105, 88, 115], [109, 120, 130], [112, 115]]
index = [i for i in range(1, 5)]
columns = ["语文", "数学", "英语"]
df = pd.DataFrame(data=data, index=index, columns=columns)
new = df.max()
df = df._append(new, ignore_index=True)
print(df)

      语文     数学     英语
0  110.0  105.0   99.0
1  105.0   88.0  115.0
2  109.0  120.0  130.0
3  112.0  115.0    NaN
4  112.0  120.0  130.0

# 合并两张表

In [46]:
df1 = pd.DataFrame({
    '编号': ['001', '002', '003'],
    '语文': [110,105, 109],
    '数学': [145, 126, 120],
    '英语': [99, 115, 123]
})
print(df1)

    编号   语文   数学   英语
0  001  110  145   99
1  002  105  126  115
2  003  109  120  123

In [47]:
df2 = pd.DataFrame({
    '编号': ['001', '002', '003'],
    '体育': [89, 96, 91]
})

In [48]:
print(df2)

    编号  体育
0  001  89
1  002  96
2  003  91

In [49]:
df_merge = pd.merge(df1, df2, on='编号')

In [50]:
print(df_merge)

    编号   语文   数学   英语  体育
0  001  110  145   99  89
1  002  105  126  115  96
2  003  109  120  123  91

# 导出文件

In [51]:
df.to_csv("./123.csv")